<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/menu.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet"> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.5/xlsx.full.min.js"></script>

    <title>Debts Stop</title>
</head>
<body>
  <header class="header">
    <div class="logos-container">
      <img src="../images/vank_blanco.png" alt="Logo Vank" class="logo logo-vank">
      <img src="../images/debts_stop_logo.png" alt="Logo Debts Stop" class="logo logo-debts-stop">
  </div>
    <nav>
      <ul>
        <li><button class="navBtn" data-view="add-debts">Add debts</button></li>
        <li><button class="navBtn" data-view="history">History</button></li>
        <li><button class="navBtn" data-view="notifications">Notifications</button></li>
        <li><button class="navBtn" data-view="total-balance">Total balance</button></li>
        <li><button class="navBtn" data-view="my-goals">My goals</button></li>
        <li><button class="navBtn" data-view="about-us">About us</button></li>
      </ul>
    </nav>
  </header>
  <!-- Main -->
   <main id="app">

   </main>
     <!-- Botón flotante -->
  <div id="floating-btn">
    <div id="chat-icon">🤖</div>
  </div>

  <!-- Contenedor del chat -->
  <div id="chat-container">
    <div id="chat-box">
      <div id="chat-messages"></div>
    </div>
    <input type="text" id="user-message" placeholder="Escribe un mensaje..." />
    <button id="send-message">Enviar</button>
  </div>

  
  <footer>
    <a href="https://github.com/Danistan015/Debt_Stop" target="_blank">
        <i class="fab fa-github"></i> Github
    </a>
  </footer>

  <script src="../js/app.js"></script>
</body>
</html>
